# Swap files.
.*.swp
.*.swo
*~

*.pyc
*.pyo
*.pyd
*.so
*.o
*.a

build/
dist/
_skbuild
_line_profiler.c
line_profiler.egg-info/
MANIFEST
pypi-site-docs.zip
index.html

.coverage
tests/coverage.xml
tests/htmlcov
