dist: xenial
language: python
python:
  - "nightly"
  - "3.8-dev"
  - "3.7"
  - "3.6"
  - "3.5"
  - "2.7"
matrix:
  fast_finish: true
  allow_failures:
    - python: "nightly"
    - python: "3.8-dev"
install:
  - pip install --install-option='--no-cython-compile' Cython
  - pip install -r dev_requirements.txt
  - python setup.py develop
script:
  - python -m unittest discover -v tests
notifications:
  email:
      - brett.olsen+travis-ci@gmail.com
      - robert.kern+travis-ci@gmail.com
